[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langsmith = "*"
openai = "*"
pypdf = "*"
duckduckgo-search = "*"
requests = "*"
beautifulsoup4 = "*"
langserve = "*"
sse-starlette = "*"
langchain = "*"
docarray = "==0.39.1"
pydantic = "==1.10.13"
azure-search-documents = "==11.4.0b8"
azure-identity = "==1.15.0"
chromadb = "*"
llama-index = "*"
traceloop-sdk = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
